<div id="<%= dom_id clinic %>">
  <p>
    <strong>Hospital:</strong>
    <%= clinic.hospital.name %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= clinic.name %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= clinic.location %>
  </p>

</div>
