<div class="text-center">

  <h1 class="text-3xl text-center font-bold m-6">Edit clinic</h1>

  <%= render "form", clinic: @clinic %>

  <br>

  <div>
      <%= link_to "Show this clinic", @clinic, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium cursor-pointer hover:bg-sky-200"%>
      <div class="inline-block ml-2">
      <%= link_to "Back to clinics", clinics_path, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium cursor-pointer hover:bg-sky-200" %>
    </div>
  </div>

</div>