<% if flash[:notice].present? %>
  <%= render partial: "shared/notifications", locals: { message: flash[:notice]['msg'], type: flash[:notice]['type'] } %>
<% end %>

<div class="text-center">
<h1 class="text-3xl text-center font-bold m-6">Clinics</h1>
</div>

<% if current_user %>
  <% if !current_user.user? %>
    <div class="text-center">
      <%= link_to "New clinic", new_clinic_path, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium cursor-pointer hover:bg-sky-200" %>
    </div>
  <% end %>
  <div id="clinics">
    <% @clinics.each_with_index do |clinic,idx| %>
      <% if (idx)%2 == 0 %>
        <section class="w-78 h-22 bg-indigo-100 rounded-xl drop-shadow-md m-6 relative p-6">
      <% else %>
        <section class="w-78 h-22 bg-white rounded-xl drop-shadow-md m-6 relative p-6">
      <% end %>
      <%= render clinic %>
      <p>
        <%= link_to "Show this clinic", clinic, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium cursor-pointer hover:bg-sky-200" %>
      </p>
      </section>
    <% end %>
  </div>
<% end %>