<p style="color: green"><%= notice %></p>

<div class="text-center">
<h1 class="text-3xl text-center font-bold m-6">Clinics</h1>
</div>

  <div id="clinics">
    <% @clinics.each do |clinic| %>
      <section class="w-78 h-50 bg-white rounded-xl drop-shadow-md m-6 relative p-6">
      <%= render clinic %>
      <p>
        <%= link_to "Show this clinic", clinic, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium cursor-pointer hover:bg-sky-200" %>
      </p>
      </section>
    <% end %>
  </div>

<br>

<div class="text-center">
  <%= link_to "New clinic", new_clinic_path, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium cursor-pointer hover:bg-sky-200" %>
</div>
