<div class="text-center">
  <br>
    <h1 class="text-3xl text-center font-bold">New clinic</h1>
    <%= render "form", clinic: @clinic %>
  <div>
    <%= link_to "Back to clinics", clinics_path, class: "m-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium cursor-pointer hover:bg-sky-200" %>
  </div>
</div>
