<p style="color: green"><%= notice %></p>
<h1>Medicines</h1>
<% if @medicines.present? %>


<div id="medicines">
  <% @medicines.each do |medicine| %>
    <%= render medicine %>
    <p>
      <%= link_to "Show this medicine", medicine %>
    </p>
  <% end %>
</div>

<% else %>
  <p>No items found.</p>
<% end %>