<div class="my-24 mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <%= render @medicine %>
    <%= link_to "Edit this medicine", edit_medicine_path(@medicine), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium cursor-pointer hover:bg-sky-200" %>
    <% if current_user %>
      <% if current_user.superadmin? || current_user.hospitaladmin? %>
        <div class="inline-block ml-2">
          <%= button_to "Destroy this medicine", medicine_path(@medicine), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium cursor-pointer hover:bg-sky-200" %>
        </div>
      <% end %>
    <% end %>
    <%= link_to "Back to medicines", medicines_path, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium cursor-pointer hover:bg-sky-200" %>
  </div>
</div>
