<h1>Hello world</h1>

<% if current_user %>
    <p>You are a [<%= current_user.role %>]</p>
    <% if current_user.superadmin? %>
        You the best
    <% end %>
<% else %>
    <p> Please sign in</p>
<% end %>
