<div class="my-24 mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">

      <%= render @patient %>

      <%= link_to "Edit details", edit_patient_path(@patient), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium cursor-pointer hover:bg-sky-200" %>
      <% if current_user %>
        <% if current_user.superadmin? || current_user.hospitaladmin? %>
          <div class="inline-block ml-2">
            <%= button_to "Destroy this patient", @patient, method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium cursor-pointer hover:bg-sky-200" %>
          </div>
          <%= link_to "Back to patients", patients_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium cursor-pointer hover:bg-sky-200" %>
        <% end %>
      <% end %>
  </div>
</div>
