<div class="w-full">
<br>
  <div class="flex justify-between items-center">
    <h1 style= "margin-left: 2%" class="font-bold text-4xl">Hospitals</h1>
    <%= link_to "New hospital", new_hospital_path, class: "mt-2 rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer hover:bg-sky-200 mr-6" %>
  </div>

<% if @hospitals %>
  <% @hospitals.each_with_index do |hospital,idx| %>

    <%= link_to hospital_path(hospital.hospital_id) do %>
    <% if (idx)%2 == 0 %>
      <section class="w-78 h-22 bg-indigo-100 rounded-xl drop-shadow-md m-6 relative p-6">
    <% else %>
      <section class="w-78 h-22 bg-white rounded-xl drop-shadow-md m-6 relative p-6">
    <% end%>
        <span class="font-bold">Name:</span> <%= hospital.name %> <br>
        <span class="font-bold">Location:</span> <%= hospital.location%>
      </section>
    <% end %>
  <% end %>
<% else %>
  <p> No hospital can be found </p>
<% end %>
</div>