<p style="color: green"><%= notice %></p>

<h1 class="text-3xl text-center font-bold m-6">Hospitals</h1>


<% if @hospitals %>
  <% @hospitals.each do |hospital| %>
    <%= link_to hospital_path(hospital.hospital_id) do %>
      <section class="w-78 h-20 bg-white rounded-xl drop-shadow-md m-6 relative p-6">
        <span class="font-bold">Name:</span> <%= hospital.name %> <br>
        <span class="font-bold">Location:</span> <%= hospital.location%>
      </section>
    <% end %>
  <% end %>
<% else %>
  <p> No hospital can be found </p>
<% end %>
