<div class="my-24 mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <h3 class="text-base font-semibold leading-7 text-gray-900">New Hospital</h3>

    <%= render "form", hospital: @hospital %>

    <br>

    <div class="mx-auto">
      <%= link_to "Back to hospitals", hospitals_path, class: "ml-1 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium cursor-pointer hover:bg-sky-200" %>
    </div>
  </div>
</div>