<p style="color: green"><%= notice %></p>

<div class="text-center">
<h1 class="text-3xl text-center font-bold m-6">Doctors</h1>
</div>

<section class="w-78 h-50 bg-white rounded-xl drop-shadow-md m-6 relative p-6">
<div id="doctors">
  <% @doctors.each do |doctor| %>
    <%= render doctor %>
    <p>
      <%= link_to "Show this doctor", doctor, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium cursor-pointer hover:bg-sky-200" %>
    </p>
  <% end %>
</div>
</section>

<div class="text-center">
<%= link_to "New doctor", new_doctor_path, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium cursor-pointer hover:bg-sky-200" %>
</div>