<div class="w-full">
<br>

<% if current_user %>
  <% if !current_user.user? %>
    <div class="flex justify-between items-center">
      <h1 style= "margin-left: 1.9%" class="font-bold text-4xl">Doctors</h1>
      <%= link_to 'New doctor', new_doctor_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium cursor-pointer hover:bg-sky-200 mr-6" %>
    </div>
  <% end %>

  <div id="doctors">
    <% @doctors.each do |doctor| %>
      <section class="w-78 h-50 bg-white rounded-xl drop-shadow-md m-6 relative p-6">
      <%= render doctor %>
      <p>
        <%= link_to "Show this doctor", doctor, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium cursor-pointer hover:bg-sky-200" %>
      </p>
      </section>
    <% end %>
  </div>
<% end %>
</div>