<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">

    <%= render @appointment %>

    <%= link_to 'Edit this appointment', edit_appointment_path(@appointment), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium cursor-pointer hover:bg-sky-200" %>
    <div class="inline-block ml-2">
      <%= button_to 'Destroy this appointment', appointment_path(@appointment), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium cursor-pointer hover:bg-sky-200" %>
    </div>
    <%= link_to 'Back to appointments', appointments_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium cursor-pointer hover:bg-sky-200" %>
  </div>
</div>
